* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 10px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

h1 {
    padding: 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

input {
    display: flex;
    padding: 8px;
    width: 100%;
    resize: none;
    margin: 12px 12px;
}

button {
    max-width: 100%;
    margin: 12px 12px;
    width: 640px;
    padding: 8px;
    background-color: rgb(47, 219, 47);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(134, 212, 134);
}   

#res {
    margin-left: 12px;
}